<div class="card-header">
	<div class="card-top-header">
		<span class="center-box"></span>
	</div>
	<div class="card-contents">
		<a href="/faq" class="faq"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-trophy" aria-hidden="true"></i></a>
	</div>
</div>	