// custom plugin css
.card-header {
    left: 0;
    position: absolute;
    top: -60px;
    width: 100%;
}
.card-top-header {
    background-color: #ededed;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 60px;
    position: absolute;
    width: 100%;
}
.center-box {
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    height: 16px;
    left: 0;
    line-height: 100px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
}
.card-contents {
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 60px;
    width: 100%;
    font-size: 25px;
    color: #666;
    clear: both;
}
.card-contents .trophy{
	float: right;
}
.card-faq > span::before {
    border: 1px solid;
    border-radius: 100%;
    color: #666;
    content: "/f128";
    font-family: fontawesome;
    font-size: 30px;
    padding: 11px;
    position: absolute;
}
.trophy .fa.fa-trophy {
    border: 1px solid;
    border-radius: 100%;
    color: #666;
    padding: 8px;
}